<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}

    {% endblock %}

    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title> Chappy </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <meta name="description" content="A Dummy Chat Application">
      <meta name="author" content="me">

      <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->

          <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/skeleton.css') }}">
          <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
          <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">



  </head>

  <body>




    <div class="page-title">
      <h2> Chappy </h2>
    </div>

    <div class="chats">

      {% block content %}
      {% endblock %}
    </div>


    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  </body>
</html>
